h1{
color: #0a9ea1;
text-align:center;
}
.heading{
  align-content: center;
}
button{

border: solid #164e4f 2px;
color: #164e4f;
}
button:hover{
color: #c9d1d1;
background-color: #043838;
}
form{
color: #107058;
}
.footer {
  background-color: lightblue;
}
.warning {
  color: red;
}
.notice{
  color: green;
}
.gpasubmit {
  margin-top: 6px;
}

.sgpalink {
  border: solid rgb(3, 129, 3) 2px;
  padding: 5px;
  background-color: rgb(181, 247, 181);
  color: black;
  width: 250px;
  text-align: center;
  display: inline-block;
}

.sgpalink:hover {
  border-radius: 5px;
  border-color: blue;
  display: inline-block;
}

.margin {
  margin-top: 7px;
}

.padding {
  padding-right: 27px;
  padding-left: 27px;
}
.textt {
  cursor: pointer;
}